body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    box-sizing: border-box;
    font-size: 13px;
}
* {
    box-sizing: border-box;
}

#root {
    margin-top: 50px;
}

.hiden {
    display: none;
}

.app, .todolist {
    display: flex;
}

/* .todolist */

.btn {
    background-color: #db4c3f;
    font-weight: 700;
    line-height: 17px;
    margin-right: 5px;
    float: left;
    border-radius: 3px;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

.btn.disable {
    opacity: .3;
    pointer-events: none;
}

.btn-cancel {
    color: #555;
    cursor: pointer;
    padding: 2px 5px;
    display: inline-block;
    
    /* text-decoration: none;
    white-space: nowrap; */
}

.btn-cancel:hover {
    text-decoration: underline;
}

.box-input {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.12);
    min-height: 45px;
    margin-bottom: 10px;
    padding: 10px !important;
    width: 100%;
}

.box-input:focus{
    outline: none;
    border-color: grey !important;
}

.box-input-text:hover {
    background: #eee;
    border-radius: 3px;
}

.box-input-text {
    -webkit-user-modify: read-write-plaintext-only;
    word-break: break-word;
    min-width: 30px;
    display: inline-block;
    padding: 0 3px;
}

.box-input-text:focus {
    outline: none;
}

.list-task {
    position: relative;
}

.list-task:hover .delete, header:hover .delete {
    display: inline-block;
}

.delete:hover {
    background: antiquewhite;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border-bottom-left-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.delete svg {
    width: 13px;
    height: 13px;
}

.delete:hover .line {
    stroke: #000;
}

.delete .line {
    stroke: rgba(0,0,0,.2);
}

.button-add-task.add-section {
    background: #fafafa;
    border-radius: 5px;
}

.button-add-task.add-section .icon-sum {
    color: grey;
}

.flex-ver {
    display: flex;
    align-items: center;
}

.board-section {
    padding: 0 8px;
    margin-right: 12px;
    width: 280px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.board-section header {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    height: 44px;
    border-bottom: 1px solid transparent;
    position: relative;
    padding: 10px 0;
    
}

.content {
    cursor: text;
}

.board-section header .content {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-section .list-task {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 5px;
    font-size: 13px;
    margin: 0 0 10px;
    cursor: pointer;
    min-height: 45px;
}

.board-section .list-task:hover {
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
}



.button-add-task {
    font-size: 13px;
    height: 45px;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    color: grey;
}

.button-add-task:hover .icon-sum {
    background: #db4c3f;
    color: #fff;
}

.button-add-task:hover {
    color: #db4c3f;
}

.button-add-task .icon-sum {
    color: #db4c3f;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    float: left;
    text-align: center;
    font-size: 17px;
    margin-right: 3px;
    line-height: 15px;
}
